.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR97h05xPZ11eH1zgAUv7jqzbrTDLyD-5T_XQ&s'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.yellow-button {
    background-color: #FFEB3B; /* Light Yellow */
    color: #000; /* Black text */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yellow-button:hover {
    background-color: #FDD835; /* Darker Yellow on hover */
}

  